@use 'options';

:root {
  --body-bg: #aaa;

  --face-size: 90vmin;
  --face-border-width: calc(var(--face-size) * 0.015); // fraction of face size
  --face-border-color: hsl(166, 80%, 20%);
  --face-bg: hsl(166, 80%, 40%);

  --hand-hour-length: 28%; // percentage of face size
  --hand-hour-width: 2vmin;
  --hand-hour-color: #000;
  --hand-hour-pinion-size: calc(var(--hand-hour-width) * 1.25); // multiple of hour hand width
  --hand-hour-pinion-color: hsl(0, 0%, 0%);

  --hand-minute-length: 40%; // percentage of face size
  --hand-minute-width: calc(var(--hand-hour-width) * 0.5); // fraction of hour hand width
  --hand-minute-color: #00f;
  --hand-minute-pinion-size: calc(var(--hand-minute-width) * 1.25); // multiple of minute hand width
  --hand-minute-pinion-color: hsl(0, 0%, 25%);

  --hand-second-length: 45%; // percentage of face size
  --hand-second-width: calc(var(--hand-hour-width) * 0.25); // fraction of hour hand width
  --hand-second-color: #f00;
  --hand-second-pinion-size: calc(var(--hand-second-width) * 1.25); // multiple of second hand width
  --hand-second-pinion-color: hsl(0, 0%, 50%);

  @if options.$prominent-major-marks == true {
    --mark-major-width: 1vmin;
    --mark-major-height: 2vmin;
    --mark-major-color: hsl(0, 0%, 25%);

    --mark-minor-width: 0.2vmin;
    --mark-minor-height: 1vmin;
    --mark-minor-color: hsl(200, 100%, 20%);
  } @else {
    --mark-major-width: 0.5vmin;
    --mark-major-height: 0.8vmin;
    --mark-major-color: transparent; // hsl(30, 100%, 20%);

    --mark-minor-width: 0.2vmin;
    --mark-minor-height: 2vmin;
    --mark-minor-color: hsl(200, 100%, 20%);
  }

  --numeral-hour-font-size: 5vmin;
  --numeral-hour-font-weight: 700;
  --numeral-hour-offset-from-face-border: 2vmin;
  --numeral-hour-position-offset: -0.43; // adjust this to center numerals to marks
  --numeral-hour-color: hsl(300, 100%, 10%);
  --numeral-hour-bg: transparent; // hsla(300, 100%, 10%, 0.1);

  --numeral-minute-font-size: 4vmin;
  --numeral-minute-font-weight: 600;
  --numeral-minute-offset-from-face-border: 10vmin;
  --numeral-minute-position-offset: -0.43; // adjust this to center numerals to marks
  --numeral-minute-color: hsl(300, 100%, 10%);
  --numeral-minute-bg: transparent; // hsl(0, 100%, 50%);
}

html,
body {
  background-color: var(--body-bg);
  color: hsl(0, 0%, 84.7%);
  font-family: 'Source Sans Pro', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif ;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}